@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css";
.table {
  margin-bottom: 0;
}
.table > :not(caption) > * > * {
  padding: 0.15rem 0.25rem;
}
.table > * > * > *:first-child {
  padding-left: 1em;
}
.table > * > *:last-child {
  padding-right: 1em;
}
.table th,
.table td {
  vertical-align: middle;
}
.table .cb {
  width: 2rem;
  padding-right: 0.8rem;
}
.table .day {
  width: 7rem;
}
.table .client {
  width: 15%;
  min-width: 10rem;
}
.table .project {
  width: 20%;
  min-width: 10rem;
}
.table .hours {
  width: 5rem;
}
.table .fx {
  width: 5rem;
}
.table input[type=text] {
  --bs-border-color: transparent;
  --bs-body-bg: transparent;
  padding-left: 0;
  padding-right: 0;
}
.table input[type=text]:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
}
.table tbody tr:last-child td {
  border-bottom: 1px solid #000;
}
.table tfoot tr {
  border-top-color: #000;
}
.table tfoot tr th {
  border-top: 1px solid #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.table thead tr.filter-row {
  border-bottom-color: #000;
}
.table thead tr.filter-row th {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.loading-fullscreen > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html {
  font-size: 14px;
}
body {
  --bs-body-color: #000;
}
