@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css";
.table {
  margin-bottom: 0;
  display: block;
  padding-top: 73px;
  padding-bottom: 37px;
}
.table th,
.table td {
  vertical-align: middle;
  padding: 0.15rem 0.25rem;
}
.table .cb {
  width: 3rem;
  padding-right: 0.8rem;
  padding-left: 1rem;
}
.table .day {
  width: 7rem;
}
.table .client {
  width: 15%;
  min-width: 10rem;
}
.table .project {
  width: 20%;
  min-width: 10rem;
}
.table .hours {
  width: 5rem;
}
.table .fx {
  width: 5rem;
}
.table input[type=text] {
  --bs-border-color: transparent;
  --bs-body-bg: transparent;
  padding-left: 0;
  padding-right: 0;
}
.table input[type=text]:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
}
.table tfoot {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.table tfoot tr {
  border-top-color: #000;
}
.table tfoot tr th {
  border-top: 1px solid #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.table tfoot .cb {
  position: relative;
}
.table tfoot .action-select {
  border: 0;
  position: absolute;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 10em;
  bottom: 0.2em;
  border: 1px solid #000;
  padding: 0 0.8em;
}
.table thead {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.table thead tr.filter-row {
  border-bottom-color: #000;
}
.table thead tr.filter-row th {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.table tbody {
  display: table;
  width: 100%;
}
.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.loading-fullscreen > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.export-dialog > .modal-dialog {
  max-width: 80%;
}
html {
  font-size: 14px;
}
body {
  --bs-body-color: #000;
}
